* {
    font-family: 'Comfortaa', cursive;
}
body {
    background-image: url(../images/country-quilt.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* ======================================================================================== */
/* Navigation Styling */
/* ======================================================================================== */
.nav-wrapper {
    background-color: #474747;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.logo {
    color: white;
    font-family: 'Short Stack', cursive;
    font-size: 25px;
    margin: 0;
}
@media only screen and (min-width: 993px) {
    /*adding a margin to the logo for aesthetics */
    .logo {margin-left: 10px;}
}
#nav-mobile {
    padding: 0;
}
.sidenav {
    width: 150px;
}
#sidenavLogo {
    background-color: #474747;
    text-align: center;
    color: white;
}
/* ======================================================================================== */
/* Title Styling */
/* ======================================================================================== */
#nameRow {
    margin-top: 50px;
    margin-bottom: 15px;
}
.name {
    color: #2D3C4B;
    text-align: center;
    margin: 0;
}
hr {
    border: #2D3C4B 2px solid;
}
#titleRow {
    margin-bottom: 20px;
}
.title {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
    color: #5C723A;
    margin: 10px 0 0 0;
}
#location {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
i.small.material-icons {
    margin-top: 5px;
    color: #A24936;
}
#slc {
    margin-top: -5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: text-top;
    color: #A24936;
}
/* ======================================================================================== */
/* Picture Styling */
/* ======================================================================================== */
#picContainer {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    height: 200px;
    border-radius: 50%;
}
#profilePic {
    height: 200px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
    display: block;
    margin: auto;
}
.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.imageHover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#picContainer:hover .image {
    opacity: 0.3;
}
#picContainer:hover .imageHover {
    opacity: 1;
}
.hoverText {
    color: #1C3144;
    font-size: 10px;
    margin-top: 10px;
}
/* ======================================================================================== */
/* About Me */
/* ======================================================================================== */
#compRow {
    margin-bottom: 0;
}
.icon {
    height: 190px;
}
#icon {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#aboutme {
    padding: 0;
}
.aboutme {
    margin-top: 0;
    background-color: #5C723A;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.showResume {
    background-color: white;
    color: #5C723A;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 170px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: #5C723A solid;
    text-transform: none;
    height: 45px;
    line-height: 21px;
}
.showResume:hover {
    background-color: #5C723A;
    color: white;
}
#resume {
    display: none;
    width: 100%;
    height: 600px;
}
/* ======================================================================================== */
/* Skills */
/* ======================================================================================== */
#keyboardRow {
    margin-bottom: 0;
}
#mySkills {
    padding: 0;
}
.skills {
    margin-top: 0;
    padding-bottom: 5px;
    background-color: #2D3C4B;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.skillsTitle {
    margin-bottom: 0;
}
.skillsSection {
    font-size: 1.35rem;
}
#skillshr {
    border: white 1px groove;
}
.showPortfolio {
    background-color: white;
    color: #1C3144;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 130px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: #1C3144 solid;
    text-transform: none;
    height: 45px;
    line-height: 21px;
}
.showPortfolio:hover {
    background-color: #1C3144;
    color: white;
}
.myPortfolio {
    display: none;
}
.portfolio {
    color: #2D3C4B;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.projectImage {
    position: relative;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2D3C4B;
    border-radius: 10px;
}
.projectImage:hover .overlay{
    opacity: 1;
}
.project {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.projectText {
    color: white;
    font-size: 15px;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.projectLink {
    background-color: #1C3144;
    color: white;
    text-align: center;
    padding: 7px 5px 5px 5px;
    width: 125px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    border: white solid;
}
.githubLink {
    background-color: white;
    color: #1C3144;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 220px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: #1C3144 solid;
    text-transform: none;
    height: 45px;
    line-height: 21px;
}
.githubLink:hover {
    background-color: #1C3144;
    color: white;
}
/* ======================================================================================== */
/* Contact */
/* ======================================================================================== */
#contactMe {
    padding: 0;
}
.contactInfo {
    margin-top: 0;
    background-color: #A24936;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#contactRow {
    margin-bottom: 0;
}
#phoneNumber {
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -15px;
}
i.small.material-icons#phone {
    margin: 0;
    color: white;
}
#number {
    margin-top: -5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: text-top;
    color: white;
}
#form {
    margin-bottom: 15px;
    display: none;
}
.contactFormTitle {
    text-align: center;
    color: #A24936;
}
#myEmail {
    margin-top: 0;
}
.prefix {
    color: #A24936;
}
.input-field.prefix.active {
      color: black;
}
/* label color */
.input-field label {
    color: #A24936;
}
/* label focus color */
.input-field input[type=text]:not(.browser-default):focus:not([read-only]) + label {
    color: #A24936;
}
.input-field input[type=email]:not(.browser-default):focus:not([read-only]) + label {
    color: #A24936;
}
textarea.materialize-textarea:focus:not([read-only]) + label {
    color: #A24936;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #A24936;
    box-shadow: 0 1px 0 0 #A24936;
}
#submit {
    font-family: 'Comfortaa', cursive;
}
.submitForm {
    background-color: white;
    color: #A24936;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 130px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: #A24936 solid;
    text-transform: none;
    height: 45px;
    line-height: 21px;
}
.submitForm:hover {
    background-color: #A24936;
    color: white;
}
/* ======================================================================================== */
/* Footer */
/* ======================================================================================== */
#page-footer {
    background-color: #474747;
}
#footer-copyright {
    background-color: #474747;
    padding-top: 0;
}
#copyright {
    text-align: center;
    background-color: #474747;
    margin-top: 0;
}
