* {
    font-family: 'Comfortaa', cursive;
}
body {
    background-image: url(../images/YellowBackground.png);
}
.header {
    padding: 5px 0px 8px 0px;
    background-color: #011627;
    margin: 0;
}
.title {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 20px;
}
.contact {
    float: right;
    background-color: #011627;
    height: 65px;
    width: 65px;
    padding: 0;
    margin: 0;
}
#bubble {
    margin-top: 2px;
}
.name {
    color: #011627;
    text-align: center;
    margin: 0;
}
#picContainer {
    padding: 0;
}
#profilePic {
    height: 200px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
}
hr {
    color: #011627;
    size: 5px;
}
.title {
    text-align: center;
    color: black;
    margin: 10px 0 0 0;
}
#nameRow {
    margin-top: 5px;
}
#Card {
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#titleRow {
    margin-bottom: 0;
}
.logo {
    color: white;
    font-family: 'Short Stack', cursive;
    font-size: 25px;
    margin: 0;
}
#info {
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-top: 0;
    height: 200px;
}
#myInfo {
    margin-top: 24px;
    margin-bottom: 24px;
}
.computer {
    height: 190px;
}
#computer {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#compRow {
    margin-bottom: 0;
}
.sample {
    margin-top: 0;
    background-color: #5C723A;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#aboutMe {
    padding: 0;
}
.portfolio {
    color: #5C723A;
    text-align: center;
}
.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;

}