* {
    font-family: 'Comfortaa', cursive;
}
body {
    background-image: url(../images/country-quilt.png);
}
.title {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 20px;
}
.nav-wrapper {
    background-color: #2D3C4B;
}
.sidenav {
    width: 150px;
}
#sidenavLogo {
    background-color: #2D3C4B;
    text-align: center;
    color: white;
}
.name {
    color: #2D3C4B;
    text-align: center;
    margin: 0;
}
#picContainer {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#profilePic {
    height: 200px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
    display: block;
    margin: auto;
}
hr {
    color: #2D3C4B;
    size: 5px;
}
.title {
    text-align: center;
    color: black;
    margin: 10px 0 0 0;
}
#nameRow {
    margin-top: 5px;
}
#Card {
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#titleRow {
    margin-bottom: 0;
}
.logo {
    color: white;
    font-family: 'Short Stack', cursive;
    font-size: 25px;
    margin: 0;
}
#info {
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-top: 0;
    height: 200px;
}
#myInfo {
    margin-top: 24px;
    margin-bottom: 24px;
}
.computer {
    height: 190px;
}
#computer {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#compRow {
    margin-bottom: 0;
}
.sample {
    margin-top: 0;
    background-color: #5C723A;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#aboutme {
    padding: 0;
}
.portfolio {
    color: #2D3C4B;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.projectImage {
     position: relative;
     width: 250px;
     margin-left: auto;
     margin-right: auto;
}
.project {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2D3C4B;
    border-radius: 10px;
  }
.projectImage:hover .overlay{
    opacity: 1;
}
.projectText {
    color: white;
    font-size: 15px;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.projectLink {
    background-color: #1C3144;
    color: white;
    text-align: center;
    padding: 7px 5px 5px 5px;
    width: 125px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    border: white solid;
}
.githubLink {
    background-color: white;
    color: #5C723A;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 220px;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    border: #5C723A solid;
}
.githubLink:hover {
    background-color: #5C723A;
    color: white;
}
#mySkills {
    padding: 0;
}
.skills {
    margin-top: 0;
    background-color: #2D3C4B;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.skillsTitle {
    margin-bottom: 0;
}
.contactInfo {
    margin-top: 5px;
    background-color: #A24936;
    color: white;
    text-align: center;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.14), 0px 20px 20px 10px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#contactMe {
    padding: 0;
}